{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "prettier", "jest", "tsc", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-undef": "error",
    "react/no-unescaped-entities": "off",
    "no-console": "off",
    "prettier/prettier": 2,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "no-extra-semi": "off",
    "@typescript-eslint/no-unused-vars": [
      2,
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "react/prop-types": "off",
    "tsc/config": [
      2,
      {
        "configFile": "tsconfig.json"
      }
    ],
    "@typescript-eslint/no-extra-semi": "off"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "env": {
    "jest/globals": true,
    "node": true
  },
  "globals": { "__DEV__": true, "JSX": true }
}
